__pycache__/
sim_build/
sim_data/
nouse/
*.vcd
*.vvp
*.fst
*.ini
transcript
*.wlf
sim/04_lite_test/work/
sim/04_lite_test/transcript
*.npy
*.pth
toolchain/
*.vstf
*.bin
yolo_image.h
work/
*.o
*.out
*.sl
*.so 
*.vpi
*.log 
*.vvp 
simv.daidir
ucli.key
csrc
simv
*.log
.simvision/
fi_wrapper.v
*.dsn
*.trn
*.swp
result.xml
fault_dir/
stack.info.*
result.xml
summary.xml
test_demo/
RTEMS/
*.fsdb
flt_target_dbg.list
verdiLog/
test_dir1/
*.swo
verilog.dump
FM_*/
*.xml
*.set
